@import '~antd/dist/antd.css';

.landingBackground {
  filter: blur(8px);
  overflow: hidden;
  height: 95vh;
  width: 100;
  background-position: 0px;
  background-repeat: no-repeat;
  -webkit-filter: blur(8px);
  position: absolute;
}
/* 
general 
-------
*/
.landingTitle
{
  text-align: center;
  position: relative;
  padding: 8px 0;
  margin: 0 0 0;
}
.landingTitle:after {
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}
.landingTitle h1 {
  font-size: 68px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 12px black;
}
.landingTitle h2 {
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 12px black;
}

.login-form {
  background-color: #ffe055f1;
  border-radius: 10px;
  border: 3px solid black;
  text-align: center;
  position:relative;
  height: 300px;
  width: min-content;
  margin: auto;
  display:block;
}


body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #fff !important;
}

.mainLayout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}

/*Home.js*/
.homeSider {
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 12px black;
}
.status {
  border-radius: 10px;
  border: 1px solid grey;
  text-align: center;
  position:relative;
  height: 300px;
  width: 100%;
  margin: auto;
  display:block;
}