@import '~antd/dist/antd.css';

.landingBackground {
  filter: blur(8px);
  overflow: hidden;
  height: 95vh;
  width: 100;
  background-position: 0px;
  background-repeat: no-repeat;
  -webkit-filter: blur(8px);
  position: absolute;
}
/* 
landing page
-------
*/
.landingTitle
{
  text-align: center;
  position: relative;
  padding: 8px 0;
  margin: 0 0 0;
}
.landingTitle:after {
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}
.landingTitle h1 {
  font-size: 68px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 12px black;
}
.landingTitle h2 {
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 12px black;
}

.login-form {
  background-color: #ffe055f1;
  border-radius: 10px;
  border: 3px solid black;
  text-align: center;
  position:relative;
  height: 300px;
  width: min-content;
  margin: auto;
  display:block;
}


body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #fff !important;
}

.mainLayout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}

/*Home.js*/
.homeSider {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 12px black;
}
.status {
  border-bottom: 1px solid grey;
  font-size: 20px;
  font-weight: bold;
  position:relative;
  height: 225px;
  width: 600px;
  padding-top: 15px;
  display:block;
}

.status h1 {
  font-weight: bold;
  text-align: center;
}

.statusTextArea {
  font-size: inherit;

}
.statusButtons {
  text-align: center;
  position: static;
}
.centerFeed {
  border: 1px solid grey;
  border-bottom: hidden;
  height: 100vh;
  width: fit-content;
  display: block;
  margin-left: 200px;
}

/*
Profile
*/

.profile_page_center {
  width: 600px;
  margin-left: 200px;
}

.profilePost {
  border: 1px solid grey;
  margin-bottom: 1px;
  margin-top: 1px;
  display:block;
}
.profilePost p {
  display:block;
  font-size: larger;
}

.profile_header {
  border: 1px solid grey;
  margin-bottom: -20px;
}

.profile_following {
  display:block;
  font-size: medium;
  text-align: center;
}

.profile_header_username {
  font-weight: bold;
  text-align:center;
  font-size: 40px;
  margin-bottom: 0%;
}
.profile_header_buzzes {
  text-align: center;
  margin-top: -5%;
  font-size: 20px;
}

.profile_MyTweets_Header{
  text-align: center;
  font-size: 20px;
  margin-bottom: 1px;
}

/*Settings*/

.settingsMenu{
  width: 600px;
  border: 1px solid grey;
  margin-left: 200px;
}